<header class="header">
    <div class="container">
        <div class="search-menu">
            <div class="menu" (click)="toggleSidebar()"><i class="fa-solid fa-bars"></i></div>
            <div class="search">
                <input type="text" class="text" placeholder="Search...">
            </div>
        </div>

        <div class="account">
            <div class="mode"><i class="fa-solid fa-moon"></i></div>
            <div class="alert"><i class="fa-solid fa-bell"></i></div>
            <div class="user"  *ngIf="loggedInUser | async as user;">
                <div class="box-img"><img [src]="`${getImageUrl(user.imageUrl)}`" alt="" class="img-box"></div>
                <div class="arrow"><i class="fa-solid fa-angle-down"></i></div>
            </div>
        </div>
    </div>
</header>
