<footer class="footer section">
    <div class="wrapper-container">

        <div class="section-title">
            <h2>Find your dream home today with our Lorem, ipsum dolor properties</h2>
           <div class="buttons">
            <button class="btn" routerLink="/houses">View Properties</button>
           </div>
        </div>

        <div class="container-box">
            <div class="box">
               <ul>
                 <h3>Location</h3>
                 <li><i class="fa-solid fa-location-dot"></i>345 Durban Smith Street</li>
                 <li>Lorem ipsum dolor sit, amet consectetur.</li>
               </ul>

                <ul>
                 <h3>Working Hours</h3>
                 <li>Mon-Fri: 8AM - 9PM </li>
                 <li>Sat-Sun: Weekend Special </li>
               </ul>
            </div>
            <div class="box">
                <div class="newsletter">
                    <h3>Subscribe To Our Newsletter</h3>
                    <div class="input"><input type="email" name="" id="" class="textBox" placeholder="Your Email"></div>
                </div>
            </div>
            <div class="box">
                  <ul>
                 <h3>Contact Us</h3>
                 <li><i class="fa-solid fa-phone"></i>012 345 6789 / 987 654 3210</li>
                 <li><i class="fa-solid fa-envelope"></i>info&commat;estateflow.co.za</li>
               </ul>

                <ul>
                 <h3>Working Hours</h3>
                 <li><i class="fa-solid fa-clock"></i>Mon-Fri: 8AM - 9PM </li>
                 <li>Sat-Sun: Weekend Special </li>
               </ul>
            </div>
        </div>

        <app-copyright></app-copyright>
    </div>
</footer>
