 <section class="section agents">
    <div class="wrapper-container">

           <div class="section-title">
            <h2>Meet Our Top Agents</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Dolorem doloremque animi quas! Dolor, accusamus modi!</p>
        </div>

        <div class="agent-container-box">
              @if (isLoading) {
                <div class="loading">
                    <div class="loader"></div>
                </div>
               
            }@else {
                  <div class="container-box">
            <div class="box card" *ngFor="let item of agents.slice(0, 4)">
                <div class="box-img"><img [src]="`${getImageUrl(item.imageUrl)}`" alt="" class="img-box"></div>
                <h3>{{item.name}}</h3>
                <p>Real Estate Agent</p>
                <div class="sci">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </div>
             </div>
            }
        </div>
   
    </div>
 </section>