<div class="stats">
    <div class="box card">
        <div class="text">
            <h3>Total listings</h3>
            <h2>34</h2>
        </div>
        <div class="icon">
            <i class="fa-solid fa-house-chimney-user"></i>
        </div>
    </div>
     <div class="box card">
        <div class="text">
            <h3>Total offers</h3>
            <h2>34</h2>
        </div>
        <div class="icon">
            <i class="fa-solid fa-house-chimney-user"></i>
        </div>
    </div>
     <div class="box card">
        <div class="text">
            <h3>Pending approvals</h3>
            <h2>34</h2>
        </div>
        <div class="icon">
            <i class="fa-solid fa-house-chimney-user"></i>
        </div>
    </div>
     <div class="box card">
        <div class="text">
            <h3>Average sale</h3>
            <h2>34</h2>
        </div>
        <div class="icon">
            <i class="fa-solid fa-house-chimney-user"></i>
        </div>
    </div>
</div>